@import "styles/constants";

#signIn {
  button.facebook {
    background-color: @facebook-color;
  }
  button.google {
    background-color: @google-color;
  }
  button.twitter {
    background-color: @twitter-color;
  }
}