<md-dialog>
    <md-content class="md-padding">
        <form name="forgotPassword" novalidate>
            <md-input-container>
                <label>Email:</label>
                <input ng-model="email"
                       type="email"
                       name="email"
                       ng-required="true">
            </md-input-container>
            <br>

            <div layout="row" layout-align="space-between center">
                <md-button class="md-raised md-primary md-hue-2"
                           ng-click="submitForgotPassword()"
                           ng-disabled="forgotPassword.email.$invalid">Submit
                </md-button>
                <md-button class="md-button md-primary"
                           ng-click="cancel()">Cancel
                </md-button>
            </div>
        </form>
    </md-content>
</md-dialog>